.containerCustom{
    display: flex;
    flex-direction: column;
    margin: 2%;
    height: 100vh;
}

.imgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

input{
    width: 20%;
}